.nutrientInfo {
  padding-top: 10px;
  .nutrientName {
    font-size: 14px;
    font-weight: 400;
    color: white;
  }
  .nutrientValue {
    font-size: 14px;
    font-weight: 400;
    color: white;
  }
}
